<div class="page-header">
  <h2 class="page-title">USUARIOS</h2>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row justify-content-between pl-3 pr-3">
          <h6>Usuarios Registrados</h6>
          <button
            type="button"
            class="btn btn-gradient-success btn-rounded btn-icon"
            (click)="openMediumModal(mediumModalContent, 'Crear Usuario')"
          >
            <i class="mdi mdi-plus"></i>
          </button>
          <!-- Inicio Modal -->
          <ng-template
            #mediumModalContent
            let-modal
            class="modal fade"
            id="exampleModal-2"
            aria-labelledby="exampleModalLabel-2"
          >
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel-2">
                  {{ modalTitle }}
                </h5>
                <button
                  type="button"
                  class="close"
                  (click)="modal.dismiss()"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="forms-sample pl-3 pr-3">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="nomnbres">Nombres</label>
                        <input
                          type="text"
                          class="form-control"
                          id="nombre"
                          name="nombre"
                          [(ngModel)]="usuarioDTO.nombre"
                        />
                      </div>
                      <div class="form-group">
                        <label for="apellidos">Apellidos</label>
                        <input
                          type="text"
                          class="form-control"
                          id="apellido"
                          name="apellido"
                          [(ngModel)]="usuarioDTO.apellido"
                        />
                      </div>
                      <div class="form-group">
                        <label for="username">Nombre de usuario</label>
                        <input
                          type="text"
                          class="form-control"
                          id="username"
                          name="username"
                          [(ngModel)]="usuarioDTO.username"
                        />
                      </div>
                      <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input
                          type="password"
                          class="form-control"
                          id="password"
                          name="password"
                          [(ngModel)]="usuarioDTO.password"
                        />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="rol">Rol</label>

                        <select
                          class="form-control"
                          name="rol"
                          [(ngModel)]="usuarioDTO.rol"
                        >
                          <option *ngFor="let rol of roles" [ngValue]="rol._id">
                            {{ rol.nombre }}
                          </option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="telefono">Teléfono</label>
                        <input
                          type="text"
                          class="form-control"
                          id="telefono"
                          name="telefono"
                          [(ngModel)]="usuarioDTO.telefono"
                        />
                      </div>
                      <div class="form-group">
                        <label for="direccion">Dirección</label>
                        <input
                          type="text"
                          class="form-control"
                          id="direccion"
                          name="direccion"
                          [(ngModel)]="usuarioDTO.direccion"
                        />
                      </div>

                      <input
                        type="text"
                        class="form-control"
                        id="tienda"
                        name="tienda"
                        [(ngModel)]="usuarioDTO.tienda"
                      />

                      <div class="form-group">
                        <label for="email">Email</label>
                        <input
                          type="email"
                          class="form-control"
                          id="email"
                          name="email"
                          [(ngModel)]="usuarioDTO.email"
                        />
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button
                  type="submit"
                  class="btn btn-main"
                  *ngIf="modalTitle == 'Crear Usuario'"
                  (click)="modal.close(); create()"
                >
                  Crear
                </button>
                <button
                  type="submit"
                  class="btn btn-main"
                  *ngIf="modalTitle == 'Editar Usuario'"
                  (click)="modal.close(); update(usuario._id)"
                >
                  Actualizar
                </button>
                <button
                  type="button"
                  class="btn btn-light"
                  (click)="modal.close()"
                >
                  Cancelar
                </button>
              </div>
            </div>
          </ng-template>
          <!-- Fin Modal -->
        </div>
        <hr />
        <div class="table-responsive">
          <table class="table text-center">
            <thead>
              <tr>
                <th>Username</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Tienda</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Fecha de Creación</th>
                <th>Fecha de Modificación</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.rol }}</td>
                <td>{{ usuario.tienda }}</td>
                <td>{{ usuario.telefono }}</td>
                <td>{{ usuario.direccion }}</td>
                <td>{{ usuario.createdAt }}</td>
                <td>{{ usuario.updatedAt }}</td>

                <td>
                  <div ngbDropdown>
                    <button
                      type="button"
                      class="btn btn-link btn-fw btn-rounded"
                      id="dropdownMenuIconButton1"
                      ngbDropdownToggle
                      title="Acciones"
                    >
                      <i class="mdi mdi-dots-vertical"></i>
                    </button>
                    <div
                      ngbDropdownMenu
                      aria-labelledby="dropdownMenuIconButton1"
                    >
                      <a
                        class="dropdown-item"
                        (click)="
                          cargarUsuario(usuario._id);
                          openMediumModal(mediumModalContent, 'Editar Usuario')
                        "
                        >Editar</a
                      >
                      <a class="dropdown-item" (click)="delete(usuario)"
                        >Eliminar</a
                      >
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
