/* Auth */

.auth {
    .lock-profile-img {
        width: 90px;
        height: 90px;
        border-radius: 100%;
    }
    .auth-form-light {
        border-radius: 50px;
        background: #e0e0e0;
        box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
        background: $white;
        select {
            color: $input-placeholder-color;
        }
        .input-group {
            .form-control {
                &:focus,
                &:active {
                    border-color: $border-color;
                }
            }
        }
    }
    .brand-logo {
        margin-bottom: 2rem;
        img {
            width: 150px;
        }
    }
    form {
        .form-group {
            margin-bottom: 1.5rem;
            label {
                font-size: .8125rem;
            }
            .form-control {
                background: transparent;
                border-radius: 0;
                font-size: .9375rem;
            }
        }
        .auth-form-btn {
            padding: 1rem 3rem;
            line-height: 1.5;
        }
        .auth-link {
            font-size: $default-font-size;
            &:hover {
                color: initial;
            }
        }
    }
}